<!DOCTYPE html>
<html color-mode="user" lang="{{ site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
      <header class="left-aligned">
        {{- partial "header.html" . -}}
        <h1 class="post-title">{{ .Title }}</h1>
        <p style="margin: 0;">
            <small>
                Published on {{ .Date.Format "Mon, 02 Jan 2006" }}. Estimated reading time: {{ .ReadingTime}} min. 
                {{ with .GetTerms "tags" }}
                    {{ range . }}
                        <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a> 
                    {{ end }}
                {{ end }}
            </small>
        </p>
      </header>
      <main class="post">
        <article class="content">
          {{ .Content | replaceRE "(<h[2-9] id=\"([^\"]+)\".+)(</h[2-9]+>)" (printf "%s%s%s" "${1}&nbsp;<a class=\"anchor\" href=\"#${2}\">" (partial "feather.html" "corner-down-left") "</a> ${3}") | safeHTML }}
        </article>
      </main>
      <footer>
        {{- partial "footer.html" . -}}
      </footer>
    </body>
</html>
