<!DOCTYPE html>
<html color-mode="user" lang="{{ site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
      <header class="left-aligned">
        {{- partial "header.html" . -}}
        <h1>{{ .Title }}</h1>
        {{- with .Params.Intro -}}
        <p>{{ . }}</p>
        {{- end -}}
      </header>
      <main>
        <article class="content">
          {{ .Content | replaceRE "(<h[2-9] id=\"([^\"]+)\".+)(</h[2-9]+>)" (printf "%s%s%s" "${1}&nbsp;<a class=\"anchor\" href=\"#${2}\">" (partial "feather.html" "corner-down-left") "</a> ${3}") | safeHTML }}
        </article>
      </main>
      <footer>
        {{- partial "footer.html" . -}}
      </footer>
    </body>
</html>
