:root {
    --color-text: #2C3531;
    --color-link: #18181B;
    --color-secondary: #3F4D47;
    --color-secondary-accent: #2B7A78;
    --color-bg: #FEFFFF;
    --color-bg-secondary: #E4E4E7;
    --width-content: 800px;
    --width-card: 310px;
    --font-family: "Lora", serif;
    --font-family-sans: "Open Sans", sans-serif;
    --font-size-normal: 18.5px;
    --font-size-small: 14px;
    --line-height-text: 1.8;
}

:root[color-mode="dark"] {
    --color-accent: #27272A;
    --color-bg: #1D1E20;
    --color-bg-secondary: #FFFFFF20;
    --color-link: #FAFAFA;
    --color-text: #F0F0F0;
    --color-text-secondary: #A1A1AA;
    --color-shadow: #BBBBBB10;
    --box-shadow: 2px 2px 6px;
}

main {
    padding: 0 1rem 1rem 1rem;
}

nav a,
header a,
footer a,
main.list a {
    text-decoration: none;
}

a:hover {
    opacity: 0.75;
}

.bottom-margin {
    margin-bottom: 7rem;
}

.feather {
  width: 0.8em;
  height: 0.8em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

div.social {
  margin-top: 4em;
  margin-bottom: 4em;
}

div.social > a {
  margin: 8px;
  font-size: 30px;
  text-decoration: none;
}

div.social > a:hover {
  color: var(--color-secondary);
}

.highlight > pre {
  max-width: 100%;
  border-radius: var(--border-radius);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans);
  font-weight: 800;
}

p, article li {
  font-size: var(--font-size-normal);
  line-height: var(--line-height-text);
}

code {
  line-height: 1.4;
}

pre code {
  font-size: var(--font-size-normal);
  white-space: unset;
  scrollbar-color: #e6edf3 #0d1117;
  overflow: auto;
  background: none;
}

code {
   color: inherit;
}

pre code::-webkit-scrollbar {
  background: #0d1117;
  width: 8px;
  height: 8px;
}

pre code::-webkit-scrollbar-thumb {
  background: #e6edf3;
  border-radius: 5px;
}

small {
  font-size: var(--font-size-small);
}

header {
    padding-bottom: 0;
}

header.left-aligned h1,
header.left-aligned p {
    text-align: left;
}

h1 {
  font-size: 2.3em;
  letter-spacing: -0.04em;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -0.03em;
}

h3 {
  font-size: 1.6em;
  letter-spacing: -0.02em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
  font-weight: 700;
}

aside h6 {
  margin-top: 16px;
  margin-bottom: 4px;
}

a.anchor {
    display: none;
    text-decoration: none;
    font-size: 0.8em;
    opacity: 0.4;
}

h2:hover a.anchor
{
    display: inline-block;

    -webkit-animation: fadeInFromNone 0.1s ease-out;
    -moz-animation: fadeInFromNone 0.1s ease-out;
    -o-animation: fadeInFromNone 0.1s ease-out;
    animation: fadeInFromNone 0.1s ease-out;
}

nav {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

nav ul {
    display: flex;
    align-items: center;
}

nav.list-nav {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 0px;
    justify-content: center;
}

nav.list-nav a {
    display: inline-block;
}

.tagline {
  font-size: var(--font-size-small);
}

.no-bottom-margin {
    margin-bottom: 0px;
}

p img {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin: 0;
}

.center {
    text-align: center;
}

.post {
    margin-top: 3em;
}

.mode-toggles {
    font-size: 24px;
}
.mode-toggles a {
    cursor: pointer;
}

/* Any element with the class "light--hidden" will be hidden when the site is set to Light Mode */
:root[color-mode="light"] .light--hidden {
    display: none;
}

/* Any element with the class "dark--hidden" will be hidden when the site is set to Dark Mode */
:root[color-mode="dark"] .dark--hidden {
    display: none;
}

/* Any element with the class "user--hidden" will be hidden when the site is set to User Mode */
:root[color-mode="user"] .user--hidden {
    display: none;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 0.4;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 0.4;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 0.4;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 0.4;
    }
}

