<nav {{ if .IsHome }}class="bottom-margin"{{ end }}>
  {{ if not .IsHome }}
  <small>{{ .Site.Title }}</small>
  {{ else }}
  <div></div>
  {{ end }}
  <ul>
    <li>
      <a href="{{ "" | relURL }}">Home</a>
    </li>
    {{ if .Site.GetPage "/blog" }}
    {{ end }}
	{{ range $i, $item := .Site.Menus.main }}
  	<li>
	  <a href="{{ .URL }}">{{ .Name }}</a>
	</li>
  	{{ end }}
    <li class="mode-toggles">
        <!--- Light mode button --->
        <a class="feather color-mode__btn light--hidden" aria-label="Toggle light mode" title="Use light mode">
            {{ partial "feather.html" "sun" }}
        </a>

        <!--- Dark mode button --->
        <a class="feather color-mode__btn dark--hidden" aria-label="Toggle dark mode" title="Use dark mode">
            {{ partial "feather.html" "moon" }}
        </a>
    </li>
  </ul>
</nav>
