<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
      <header>
        {{- partial "header.html" . -}}
        <h1> {{ .Site.Params.Author }}</h1>
        <p>{{ .Site.Params.Description }}</p>
        {{- partial "social.html" . -}}
      </header>
      <main>
        <hr>
        <section>
          <h6>Read my latest blog posts</h6>
        </section>
        <section>
        {{ range first 2 (where .Site.RegularPages ".Params.type" "=" "post") }}
          <aside>
            <a href="{{ .Permalink }}">
              <h6>{{ .Title }}</h6>
            </a>
            {{ if .Params.Tagline }}
            <p class="tagline">{{ .Params.Tagline }}</p>
            {{ end }}
            <p>
              <small>published on {{ .Date.Format "Mon, 02 Jan 2006" }}</small>
            </p>
          </aside>
        {{ end }}
        </section>
      </main>
      <footer>
        {{- partial "footer.html" . -}}
      </footer>
    </body>
</html>
